{% extends "base.html" %}

{% block content %}

<div class="card mb-4">
    <div class="card-body">

        <h1 class="fw-bold text-success">
            CyberMentor AI
        </h1>

        <p class="mb-0 text-light fs-5">
            Cybersecurity Threat Intelligence Dashboard
        </p>

        <hr>

        <p class="fs-5 text-light mt-3">
    Welcome back, <strong>{{ username }}</strong>
</p>

    </div>
</div>

<div class="row g-4 mb-4">

    <div class="col-md-4">
        <div class="card stats-card h-100">
            <div class="card-body">

                <div class="mb-2">
                    <i class="fa-solid fa-shield-halved fa-2x text-success"></i>
                </div>

                <h5>Total Analyses</h5>

                <div class="stats-number">
                    {{ total_analyses }}
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card stats-card h-100">
            <div class="card-body">

                <div class="mb-2">
                    <i class="fa-solid fa-triangle-exclamation fa-2x text-danger"></i>
                </div>

                <h5>Highest Risk</h5>

                <div class="stats-number text-danger">
                    {{ highest_risk }}
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card stats-card h-100">
            <div class="card-body">

                <div class="mb-2">
                    <i class="fa-solid fa-bug fa-2x text-info"></i>
                </div>

                <h5>Recent Threat</h5>

                <div>
                    {{ recent_threat }}
                </div>

            </div>
        </div>
    </div>

</div>

<div class="row g-4">

    <div class="col-md-6">

        <div class="card h-100">
            <div class="card-body text-center p-5">

                <div class="mb-3">
                    <i class="fa-solid fa-magnifying-glass fa-3x text-success"></i>
                </div>

                <h3>Threat Analysis</h3>

                <p>
                    Analyze suspicious cyber incidents using NVIDIA Nemotron AI.
                </p>

                <a href="/analyze" class="btn btn-primary btn-lg">
                    Open Analysis
                </a>

            </div>
        </div>

    </div>

    <div class="col-md-6">

        <div class="card h-100">
            <div class="card-body text-center p-5">

                <div class="mb-3">
                    <i class="fa-solid fa-clock-rotate-left fa-3x text-info"></i>
                </div>

                <h3>Analysis History</h3>

                <p>
                    View previous threat investigations and AI reports.
                </p>

                <a href="/history" class="btn btn-primary btn-lg">
                    View History
                </a>

            </div>
        </div>

    </div>

</div>

{% endblock %}