{% extends "base.html" %}

{% block content %}

<div class="card text-center p-5">

    <h1 class="display-3 fw-bold text-success">
        🛡 CyberMentor AI
    </h1>

    <p class="fs-4 mt-3">
        Cybersecurity Threat Intelligence Platform
    </p>

    <p class="text-secondary">
        Analyze phishing, scams, social engineering attacks,
        suspicious emails, and cybersecurity incidents using AI.
    </p>

    <div class="mt-4">

        <a href="/register" class="btn btn-success btn-lg me-3">
            Get Started
        </a>

        <a href="/login" class="btn btn-outline-success btn-lg">
            Login
        </a>

    </div>

</div>

{% endblock %}